*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100dvw;
    height: 100dvh;
    background: radial-gradient(#011133,#111);
    overflow: hidden;
}
.content-profile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.content-image{
    background-color: white;
    border-radius: 50%;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
}
.content-image img{
    width: 244px;
    height: 244px;
    object-fit: cover;
    border-radius: 50%;
}
.content-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}
div h1{
    color: white;
    font-size: 1.5rem;
}
div p{
    color: orange;
    font-size: 1.5rem;
    font-weight: 100;
}
.name{
    background: blue;
    font-size: 2.5rem;
    
}
.links a{
    color: blue;
    font-size: 24px;
}
@media(max-height:420px){
    .content-profile{
        flex-direction: row;
    }
}
@media(max-width:520px){
    div h1{
        font-size: .7em;
    }
    .name{
        font-size: 2em;
    }
}
